In [212]:
import numpy as np

class SigmoidPerceptron():
    def __init__(self, input_size):
        self.weights = np.random.randn(input_size)
        self.bias = np.random.randn(1)
        
    def sigmoid(self, z):
        return 1 / (1 + np.exp(-z))

    def predict(self, inputs):
        weighted_sum = np.dot(inputs, self.weights) + self.bias
        return self.sigmoid(weighted_sum)

    def fit(self, inputs, targets, learning_rate, num_epochs):
        num_examples = inputs.shape[0]
        for epoch in range(num_epochs):
            for i in range(num_examples):
                input_vector = inputs[i]
                target = targets[i]
                prediction = self.predict(input_vector)
                error = target - prediction
                
                # Update weights
                gradient_weights = error * prediction * (1 - prediction) * input_vector
                self.weights += learning_rate * gradient_weights
                
                # Update bias
                gradient_bias = error * prediction * (1 - prediction)
                self.bias += learning_rate * gradient_bias

    def evaluate(self, inputs, targets):
        correct = 0
        for input_vector, target in zip(inputs, targets):
            prediction = self.predict(input_vector)
            predicted_class = 1 if prediction >= 0.5 else 0

            if predicted_class == target:
                correct += 1

        accuracy = correct / len(inputs)
        return accuracy

In [213]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [214]:
df = pd.read_csv("/Users/tushark/Downloads/CSV/diabetes.csv")
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [215]:
df['Outcome'].value_counts()

Outcome
0    500
1    268
Name: count, dtype: int64

In [216]:
class_0_df = df[df['Outcome']==0]
class_1_df = df[df['Outcome']==1]

In [217]:
class_0_df = class_0_df.sample(268)

data = pd.concat([class_0_df,class_1_df])

In [218]:
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
553,1,88,62,24,44,29.9,0.422,23,0
117,5,78,48,0,0,33.7,0.654,25,0
333,12,106,80,0,0,23.6,0.137,44,0
652,5,123,74,40,77,34.1,0.269,28,0
688,1,140,74,26,180,24.1,0.828,23,0

In [219]:
data.tail()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
755,1,128,88,39,110,36.5,1.057,37,1
757,0,123,72,0,0,36.3,0.258,52,1
759,6,190,92,0,0,35.5,0.278,66,1
761,9,170,74,31,0,44.0,0.403,43,1
766,1,126,60,0,0,30.1,0.349,47,1

In [220]:
data.shape

(536, 9)

In [221]:
data['Outcome'].value_counts()

Outcome
0    268
1    268
Name: count, dtype: int64

In [222]:
X = data.drop('Outcome',axis=1)
Y = data['Outcome']

In [223]:
type(X)

pandas.core.frame.DataFrame

In [224]:
type(Y)

pandas.core.series.Series

In [225]:
X

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
553,1,88,62,24,44,29.9,0.422,23
117,5,78,48,0,0,33.7,0.654,25
333,12,106,80,0,0,23.6,0.137,44
652,5,123,74,40,77,34.1,0.269,28
688,1,140,74,26,180,24.1,0.828,23
...,...,...,...,...,...,...,...,...
755,1,128,88,39,110,36.5,1.057,37
757,0,123,72,0,0,36.3,0.258,52
759,6,190,92,0,0,35.5,0.278,66
761,9,170,74,31,0,44.0,0.403,43
766,1,126,60,0,0,30.1,0.349,47

In [226]:
Y

553    0
117    0
333    0
652    0
688    0
      ..
755    1
757    1
759    1
761    1
766    1
Name: Outcome, Length: 536, dtype: int64

In [227]:
X  = X.values
Y =  Y.values

In [228]:
 type(X)

numpy.ndarray

In [229]:
X

array([[1.00e+00, 8.80e+01, 6.20e+01, ..., 2.99e+01, 4.22e-01, 2.30e+01],
       [5.00e+00, 7.80e+01, 4.80e+01, ..., 3.37e+01, 6.54e-01, 2.50e+01],
       [1.20e+01, 1.06e+02, 8.00e+01, ..., 2.36e+01, 1.37e-01, 4.40e+01],
       ...,
       [6.00e+00, 1.90e+02, 9.20e+01, ..., 3.55e+01, 2.78e-01, 6.60e+01],
       [9.00e+00, 1.70e+02, 7.40e+01, ..., 4.40e+01, 4.03e-01, 4.30e+01],
       [1.00e+00, 1.26e+02, 6.00e+01, ..., 3.01e+01, 3.49e-01, 4.70e+01]])

In [230]:
Y

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1])

In [231]:
# train test split
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2,stratify=Y,random_state=42)

In [232]:
from sklearn.preprocessing import StandardScaler
scaler  = StandardScaler()

In [233]:
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [234]:
X_train_scaled.shape[1]

8

In [235]:
# sigmoid Perceptron
perceptron = SigmoidPerceptron(input_size=X_train_scaled.shape[1])

In [263]:
# train the perceptron model
perceptron.fit(inputs=X_train_scaled,targets=Y_train,learning_rate=0.1,num_epochs=100)

In [267]:
#Model Evaluation

In [273]:
# evaluate the model for training data
accuracy = perceptron.evaluate(X_train_scaled,Y_train)
accuracy = round(accuracy*100,2)
print("traning accuracy",accuracy,'%')

traning accuracy 75.7 %

In [277]:
# evaluate the model for testing data
accuracy = perceptron.evaluate(X_test_scaled,Y_test)
accuracy = round(accuracy*100,2)
print("testing accuracy",accuracy,'%')

testing accuracy 75.0 %